[Unit]
Description=Launches PiPod MP3 player on power-up.
After=default.target

[Service]
Type=simple
ExecStart=/home/pi/launch.sh

[Install]
WantedBy=default.target
